---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    
    <div class='sfContentBlock'><br /> <br />
      <h1>MEMBERS</h1>
      <h2>Faculty Members:</h2>
      <table class="table table-bordered">
          <tbody >
              <tr>
                  <td style="width: 20%;">
                      <img src="https://www.fsm.edu.tr/resim/CV/Dr2022-01-13-09-58-46am.-Ogr2022-01-13-09-58-46am.-Uyesi-Berna-KIRAZ_22022-01-13-09-58-46am.jpg"
                          displaymode="Thumbnail" style="width:100px"/> <br />
                  </td>
                  <td style="text-align: center;"> 
                      <strong> 
                          <span style="font-size: 16px;"> <br />
                                  Asst. Prof. Berna Kiraz  <br /> 
                          </span> 
                      </strong> <br />
                      <p style="text-align: center;"> 
                          <!-- Personal website --> 
                          <svg
                              xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                              style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                                  href="https://bkiraz.fsm.edu.tr/" target="_blank">
                                  <path fill="#D3D3D3"
                                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z">
                                  </path>
                              </a> 
                          </svg> 
                          <!-- E-mail --> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" fill="black" class="bi bi-envelope-fill" viewbox="0 0 16 16"
                          style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                              href="mailto:bkiraz@fsm.edu.tr">
                              <path fill="#D3D3D3"
                                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z">
                              </path>
                              </a> 
                          </svg> 
                          <!-- LinkedIn --> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" fill="currentColor" class="bi bi-linkedin" viewbox="0 0 16 16"
                          style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                              href="https://www.linkedin.com/in/gülşen-eryiğit-63492129/" target="_blank">
                              <path fill="#D3D3D3"
                                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                              </path>
                          </a> </svg> 
                          <!-- Google Scholar --> <svg xmlns="http://www.w3.org/2000/svg"
                              width="18" height="18" fill="currentColor" class="bi bi-mortarboard-fill"
                              viewbox="0 0 16 16" style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                                  href="https://scholar.google.com/citations?user=25CpSdkAAAAJ&amp;hl=tr&amp;oi=ao"
                                  target="_blank">
                                  <path fill="#D3D3D3"
                                      d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z">
                                  </path>
                                  <path fill="#D3D3D3"
                                      d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z">
                                  </path>
                              </a> </svg> </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <img src="https://www.fsm.edu.tr/resim/CV/Dr2022-01-13-07-35-35pm.-Ogr2022-01-13-07-35-35pm.-Uyesi-Musa-AYDIN_22022-01-13-07-35-35pm.JPG"
                          displaymode="Thumbnail" style="width:100px"/> <br />
                  </td>
                  <td style="text-align: center;"> 
                      <strong> 
                          <span style="font-size: 16px;"> <br />
                                  Asst. Prof. Musa Aydın <br /> 
                          </span> 
                      </strong> <br />
                      <p style="text-align: center;"> 
                          <!-- Personal website --> 
                          <svg
                              xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                              style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                                  href="https://maydin.fsm.edu.tr/" target="_blank">
                                  <path fill="#D3D3D3"
                                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z">
                                  </path>
                              </a> 
                          </svg> 
                          <!-- E-mail --> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" fill="black" class="bi bi-envelope-fill" viewbox="0 0 16 16"
                          style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                              href="mailto:maydin@fsm.edu.tr">
                              <path fill="#D3D3D3"
                                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z">
                              </path>
                              </a> 
                          </svg> 
                          <!-- LinkedIn --> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" fill="currentColor" class="bi bi-linkedin" viewbox="0 0 16 16"
                          style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                              href="https://www.linkedin.com/in/gülşen-eryiğit-63492129/" target="_blank">
                              <path fill="#D3D3D3"
                                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                              </path>
                          </a> </svg> 
                          <!-- Google Scholar --> <svg xmlns="http://www.w3.org/2000/svg"
                              width="18" height="18" fill="currentColor" class="bi bi-mortarboard-fill"
                              viewbox="0 0 16 16" style="margin-right: 0.9em; margin-left: 0.9em;"> <a
                                  href="https://scholar.google.com/citations?user=25CpSdkAAAAJ&amp;hl=tr&amp;oi=ao"
                                  target="_blank">
                                  <path fill="#D3D3D3"
                                      d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z">
                                  </path>
                                  <path fill="#D3D3D3"
                                      d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z">
                                  </path>
                              </a> </svg> </p>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  </div>
</div>
